language: go

go:
- 1.14.x
os:
  - linux
  - osx
dist: trusty
sudo: false
install: true
script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)